<span mat-dialog-title>{{ 'PRIVACY.TEXT' | translate }}</span>

<mat-dialog-content>
  <p>{{ 'PRIVACY.SECTIONS.TOP.1' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.TOP.2' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.TOP.3' | translate }}</p>

  <!-- Definitions -->
  <h2>{{ 'PRIVACY.SECTIONS.1.HEAD' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.1.1.WORD' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.1.1.TEXT' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.1.2.WORD' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.1.2.TEXT' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.1.3.WORD' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.1.3.TEXT' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.1.4.WORD' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.1.4.TEXT' | translate }}
    </li>
  </ul>

  <!-- Information Collection and Use -->
  <h2>{{ 'PRIVACY.SECTIONS.2.HEAD' | translate }}</h2>
  <span>{{ 'PRIVACY.SECTIONS.2.TEXT' | translate }}</span>

  <!-- Types of Data Collected -->
  <h3>{{ 'PRIVACY.SECTIONS.2.1.HEAD' | translate }}</h3>
  <!-- Personal Data -->
  <strong>{{ 'PRIVACY.SECTIONS.2.1.SUBHEAD' | translate }}</strong>
  <p>{{ 'PRIVACY.SECTIONS.2.1.TEXT' | translate }}</p>

  <ul>
    <li>{{ 'PRIVACY.SECTIONS.2.1.1' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.2.1.2' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.2.1.3' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.2.1.4' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.2.1.5' | translate }}</li>
  </ul>
  <span>{{ 'PRIVACY.SECTIONS.2.1.SUBTEXT' | translate }}</span>

  <!-- Usage Data -->
  <h4>{{ 'PRIVACY.SECTIONS.3.HEAD' | translate }}</h4>
  <p>{{ 'PRIVACY.SECTIONS.3.TEXT' | translate }}</p>

  <!-- Tracking & Cookies Data -->
  <h4>{{ 'PRIVACY.SECTIONS.4.HEAD' | translate }}</h4>
  <p>{{ 'PRIVACY.SECTIONS.4.1' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.4.2' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.4.3' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.4.EXAMPLES.TEXT' | translate }}</p>
  <ul>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.4.EXAMPLES.1.TITLE' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.4.EXAMPLES.1.TEXT' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.4.EXAMPLES.2.TITLE' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.4.EXAMPLES.2.TEXT' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.4.EXAMPLES.3.TITLE' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.4.EXAMPLES.3.TEXT' | translate }}
    </li>
  </ul>

  <!-- Use of Data -->
  <h2>{{ 'PRIVACY.SECTIONS.5.HEAD' | translate }}</h2>
  <span>{{ 'PRIVACY.SECTIONS.5.TEXT' | translate }}</span>

  <ul>
    <li>{{ 'PRIVACY.SECTIONS.5.1' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.5.2' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.5.3' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.5.4' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.5.5' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.5.6' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.5.7' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.5.8' | translate }}</li>
  </ul>

  <!-- Transfer of Data -->
  <h2>{{ 'PRIVACY.SECTIONS.6.HEAD' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.6.1' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.6.2' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.6.3' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.6.4' | translate }}</p>

  <!-- Disclosure of Data -->
  <h2>{{ 'PRIVACY.SECTIONS.7.HEAD' | translate }}</h2>
  <h3>{{ 'PRIVACY.SECTIONS.7.SUBHEAD' | translate }}</h3>
  <span>{{ 'PRIVACY.SECTIONS.7.TEXT' | translate }}</span>

  <ul>
    <li>{{ 'PRIVACY.SECTIONS.7.1' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.7.2' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.7.3' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.7.4' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.7.5' | translate }}</li>
  </ul>

  <!-- Security of Data -->
  <h2>{{ 'PRIVACY.SECTIONS.8.HEAD' | translate }}</h2>
  <span>{{ 'PRIVACY.SECTIONS.8.TEXT' | translate }}</span>

  <!-- Do Not Track -->
  <h2>{{ 'PRIVACY.SECTIONS.9.HEAD' | translate }}</h2>
  <span>{{ 'PRIVACY.SECTIONS.9.TEXT' | translate }}</span>

  <!-- Service Providers -->
  <h2>{{ 'PRIVACY.SECTIONS.10.HEAD' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.10.SUBHEAD.1' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.10.SUBHEAD.2' | translate }}</p>

  <!-- Analytics -->
  <h3>{{ 'PRIVACY.SECTIONS.10.1.HEAD' | translate }}</h3>
  <p>{{ 'PRIVACY.SECTIONS.10.1.SUBHEAD' | translate }}</p>
  <ul>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.10.1.1.TITLE' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.10.1.1.TEXT' | translate }}
    </li>
  </ul>

  <!-- Behavioral Remarketing -->
  <h3>{{ 'PRIVACY.SECTIONS.10.2.HEAD' | translate }}</h3>
  <p>{{ 'PRIVACY.SECTIONS.10.2.SUBHEAD' | translate }}</p>
  <ul>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.10.2.1.TITLE' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.10.2.1.TEXT' | translate }}
    </li>
  </ul>

  <!-- Payments -->
  <h3>{{ 'PRIVACY.SECTIONS.10.3.HEAD' | translate }}</h3>
  <p>{{ 'PRIVACY.SECTIONS.10.3.SUBHEAD.1' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.10.3.SUBHEAD.2' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.10.3.SUBHEAD.3.TEXT' | translate }}</p>
  <ul>
    <li>
      <strong>{{
        'PRIVACY.SECTIONS.10.3.SUBHEAD.3.1.TITLE' | translate
      }}</strong>
      {{ 'PRIVACY.SECTIONS.10.3.SUBHEAD.3.1.TEXT' | translate }}
    </li>
    <li>
      <strong>{{
        'PRIVACY.SECTIONS.10.3.SUBHEAD.3.2.TITLE' | translate
      }}</strong>
      {{ 'PRIVACY.SECTIONS.10.3.SUBHEAD.3.2.TEXT' | translate }}
    </li>
    <li>
      <strong>{{
        'PRIVACY.SECTIONS.10.3.SUBHEAD.3.3.TITLE' | translate
      }}</strong>
      {{ 'PRIVACY.SECTIONS.10.3.SUBHEAD.3.3.TEXT' | translate }}
    </li>
  </ul>

  <!-- Links to Other Sites -->
  <h2>{{ 'PRIVACY.SECTIONS.11.HEAD' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.11.SUBHEAD.1' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.11.SUBHEAD.2' | translate }}</p>

  <!-- Children's Privacy -->
  <h2>{{ 'PRIVACY.SECTIONS.12.HEAD' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.12.SUBHEAD.1' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.12.SUBHEAD.2' | translate }}</p>

  <!-- Changes to This Privacy Policy -->
  <h2>{{ 'PRIVACY.SECTIONS.13.HEAD' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.13.SUBHEAD.1' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.13.SUBHEAD.2' | translate }}</p>
  <p>{{ 'PRIVACY.SECTIONS.13.SUBHEAD.3' | translate }}</p>

  <!-- Contact Us -->
  <h2>{{ 'PRIVACY.SECTIONS.14.HEAD' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.14.SUBHEAD' | translate }}</p>

  <ul>
    <li>
      {{ 'PRIVACY.SECTIONS.14.1' | translate }} {{ 'ADDRESS.4' | translate }}
    </li>
    <li>{{ 'PRIVACY.SECTIONS.14.2' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.14.3' | translate }}</li>
    <li>
      {{ 'PRIVACY.SECTIONS.14.4' | translate }}
      {{ 'ADDRESS.2' | translate }}
      {{ 'ADDRESS.3' | translate }}
    </li>
  </ul>

  <p>{{ 'PRIVACY.UPDATED' | translate }}</p>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button [mat-dialog-close]="true">
    {{ 'CLOSE' | translate }}
  </button>
</mat-dialog-actions>
