// Gray
$background-gray: #f5f6fa;
$blue-gray: #798e9e;
$darker-gray: #707070;
$dark-gray: #6d6e71;
$light-gray: #b2b3b8;
$lighter-gray: #dfdfdf;
$lightest-gray: #e4e4e4;
$gray-opacity: rgba(109, 110, 113, 0.6);
$gray: #7b7b7d;
$transparent-black: #0000001a;

// Green
$green: #00b400;
$green1: #c0ecc8;
$green2: #006837;

// Yellow
$dark-yellow: #f4c55d;
$yellow: #fffcb8;

// White
$white: #ffffff;
$white-gray: #f6f7f7;

// Others
$black: #4d4d4d;
$light-blue: #4086b4;
$orange: #ff642b;
$red: #ed2044;
