/* 
  !IMPORTANT!
  Any changes to this file need to be reflected in the corresponding assets/generator-styles file
  In order to do that you can just compile this file using sass like so:
  sass --no-source-map libs/ads/src/lib/artwork-generator/generator-template/basic_reflect.scss apps/Marketplace/src/assets/generator-styles/basic_reflect.css
*/
/* !IMPORTANT Remember to update the corresponding css files in /assets if changes are made to this file */
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Arbutus+Slab|Baloo+Da+2:b|Barlow+Semi+Condensed:b|Exo+2|Montserrat:600|Oswald&display=swap');
.headline,
.subhead,
.third {
  /* line-height: 1; this was for the BalooDa font */
  margin: 0;
}

span {
  text-align: justify;
}

.hidden {
  visibility: collapse;
  height: 0;
}

.Lato {
  font-family: lato;
}

.Merriweather {
  font-family: merriweather;
}

.ArbutusSlab {
  font-family: 'Arbutus Slab';
}

.BalooDa {
  font-family: 'Baloo Da 2';
  font-weight: bold;
  font-style: normal;
  line-height: 0;
}

.Barlow {
  font-family: 'Barlow Semi Condensed';
  font-weight: bold;
}

.Exo {
  font-family: 'Exo 2';
  font-weight: bold;
}

.Montserrat {
  font-family: 'Montserrat';
  font-weight: 600;
}

.Oswald {
  font-family: 'Oswald';
}

/* Template 3 BASIC-REFLECT */
.basic-reflect.horizontal-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  grid-template-rows: minmax(0, 1fr);
}
.basic-reflect.horizontal-container .primary-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1;
}
.basic-reflect.horizontal-container .primary-section .headline-container {
  max-height: 60%;
  width: 90%;
  display: flex;
  align-items: center;
}
.basic-reflect.horizontal-container .primary-section .spacer {
  height: 2%;
}
.basic-reflect.horizontal-container .primary-section .subhead-container {
  max-height: 25%;
  width: 90%;
  display: flex;
  align-items: center;
}
.basic-reflect.horizontal-container .secondary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
}
.basic-reflect.horizontal-container .secondary-section .third-container {
  height: 90%;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.basic-reflect.horizontal-container .secondary-section .third-container .third {
  text-align: center;
}
.basic-reflect.horizontal-container
  .secondary-section
  .third-container
  .third-image {
  max-height: 100%;
  max-width: 100%;
}

.basic-reflect.vertical-container {
  display: grid;
  grid-template-rows: minmax(0, 1fr) minmax(0, 3fr);
  grid-template-columns: minmax(0, 1fr);
}
.basic-reflect.vertical-container .primary-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
  grid-column: 1;
}
.basic-reflect.vertical-container .primary-section .headline-container {
  max-height: 60%;
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basic-reflect.vertical-container
  .primary-section
  .headline-container
  .headline {
  text-align: center;
}
.basic-reflect.vertical-container .primary-section .spacer {
  height: 2%;
}
.basic-reflect.vertical-container .primary-section .subhead-container {
  max-height: 25%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basic-reflect.vertical-container .primary-section .subhead-container .subhead {
  text-align: center;
}
.basic-reflect.vertical-container .secondary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 1/2;
  grid-column: 1;
}
.basic-reflect.vertical-container .secondary-section .third-container {
  height: 95%;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.basic-reflect.vertical-container .secondary-section .third-container .third {
  text-align: center;
}
.basic-reflect.vertical-container
  .secondary-section
  .third-container
  .third-image {
  max-height: 100%;
  max-width: 100%;
}
